@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
/* ==========================================================================
	 Author's custom styles
	 ==========================================================================	*/
/* ==========================================================================
Variables */
/* ==========================================
Parametric Mixins */
/* ==========================================
Mixins */
.clearfix {
  display: inline-block;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
.box-sizing {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.inline {
  display: inline-block;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #bce8f1;
}
.tooltip.right .tooltip-inner {
  color: #31708f;
  background-color: #d9edf7;
  padding: 5px;
  border: 1px solid #bce8f1;
}
/* ==========================================
Functions & Operations */
/* ==========================================
Nested Rules */
body.login {
  background: url('../images/bg.jpg') no-repeat no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Bree Serif', serif;
}
a:link,
a:visited {
  outline: none;
}
input {
  outline: none;
}
img {
  display: block;
  outline: 0;
}
input[type="text"],
select,
textarea {
  font-family: 'Bree Serif', serif;
}
label,
.control-label,
.help-block,
.checkbox,
.radio {
  font-size: 15px;
  font-family: 'Bree Serif', serif;
}
.btn {
  text-transform: uppercase;
}
.btn.btn-primary {
  background-color: #f97e76;
  border-color: #e16a62;
}
.btn.btn-primary:hover {
  background-color: #e16a62;
  border-color: #e16a62;
}
.btn.btn-success {
  background-color: #a8bd44;
  border-color: #99ae32;
}
.btn.btn-success:hover {
  background-color: #99ae32;
  border-color: #99ae32;
}
.form-control:focus {
  border-color: #cccccc;
}
/****** Icons ******/
.fw-icons {
  cursor: pointer;
  display: inline-block;
}
.fw-icons:hover {
  color: #4196fe;
}
/* ==========================================
Header */
.navbar {
  margin-bottom: 0;
}
.navbar.navbar-default {
  background: #eaedf2;
  border-bottom: 1px solid #d7e0f0;
  color: #2e3641;
  height: 58px;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  z-index: 999999999;
}
.navbar.navbar-default .navbar-header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.navbar.navbar-default .navbar-header a:link,
.navbar.navbar-default .navbar-header a:visited {
  color: #2e3641;
}
.navbar.navbar-default .nav-right-block {
  font-family: 'Bree Serif', serif;
}
.navbar.navbar-default .nav-right-block .search-wrapper {
  margin: 3px 20px;
}
.navbar.navbar-default .nav-right-block .search-wrapper input {
  color: #2e3641;
  background-color: #eaedf2;
  border: 2px solid #d1d7e2;
}
.navbar.navbar-default .nav-right-block .navbar-right {
  font-size: 16px;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:link,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:visited {
  color: #2e3641;
  background-color: transparent;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:link .fw-icons,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:visited .fw-icons {
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:link:hover,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:visited:hover {
  background-color: transparent;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:link:hover .fw-icons,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li a:visited:hover .fw-icons {
  color: #4196fe;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .glyphicon-chevron-up {
  display: none;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .glyphicon-chevron-down {
  display: inline-block;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li.open .glyphicon-chevron-up {
  display: inline-block;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li.open .glyphicon-chevron-down {
  display: none;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu {
  background-color: #9eb2c0;
  top: 52px;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu > li > a {
  font-size: 14px;
  padding: 10px 20px;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu .divider {
  margin: 0;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu a:link,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu a:visited {
  color: #ffffff;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu a:link:hover,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu a:visited:hover,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu a:link.active,
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu a:visited.active {
  color: #2e3641;
}
.navbar.navbar-default .nav-right-block .navbar-right.navbar-nav li .dropdown-menu:before {
  border-bottom: 10px solid #9eb2c0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 1;
  margin-left: -5px;
}
/* ==========================================
Main Container */
.main-content-wrapper {
  padding-top: 58px;
}
/****** Login Page ******/
.user-login-wrapper {
  left: -100%;
  position: absolute;
  width: 400px;
  margin-left: -200px;
}
.user-login-wrapper .logo-wrapper {
  margin: auto;
  width: 250px;
}
.user-login-wrapper .logo-wrapper .logo-wrapper-inner {
  background: rgba(255, 255, 255, 0.85);
  border: 3px solid #4196fe;
  display: table-cell;
  height: 250px;
  text-align: center;
  vertical-align: middle;
  width: 1%;
  -webkit-box-shadow: 5px 5px 10px -3px #000000;
  -moz-box-shadow: 5px 5px 10px -3px #000000;
  box-shadow: 5px 5px 10px -3px #000000;
}
.user-login-wrapper .logo-wrapper .logo-wrapper-inner img {
  margin: auto;
}
.user-login-wrapper .login-lonk {
  display: table;
  margin: 20px auto 0;
  text-align: center;
}
.user-login-wrapper .login-lonk .login-lonk-inner a:link,
.user-login-wrapper .login-lonk .login-lonk-inner a:visited {
  background: #4196fe;
  font-size: 120%;
  padding: 10px 20px;
  border-color: #0e7afe;
}
.user-login-wrapper .login-lonk .login-lonk-inner a:link .fw-icons,
.user-login-wrapper .login-lonk .login-lonk-inner a:visited .fw-icons {
  border-right: 1px solid #b5b5b5;
  display: block;
  margin-right: 5px;
  margin-top: 4px;
  padding-right: 5px;
  float: left;
}
.fw-overly {
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.main-wrapper {
  background: #f9f9f9;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /******* Dashboard (main container) *******/
  /******* Grievance List *******/
  /* filter block */
  /******* Add Grievance *******/
  /******** Coments ********/
}
.main-wrapper.main-wrapper-normal {
  margin-left: 60px;
}
.main-wrapper.main-wrapper-active {
  margin-left: 250px;
}
.main-wrapper .filter-container {
  border: 1px solid #eaedf2;
  padding: 10px 0;
}
.main-wrapper .filter-container .form-group select {
  border: 1px solid #eaedf2;
  text-transform: lowercase;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-wrapper .table {
  font-size: inherit;
}
.main-wrapper .table thead tr.info th {
  background-color: #9eb2c0;
  color: #ffffff;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  font-weight: normal;
  vertical-align: middle;
}
.main-wrapper .table thead tr.info th span.glyphicon {
  font-size: 12px;
}
.main-wrapper .table thead tr.info th a:link,
.main-wrapper .table thead tr.info th a:visited {
  color: #fff;
}
.main-wrapper .table.table-striped tbody tr td {
  color: #2e3641;
}
.main-wrapper .table.table-striped tbody tr td a:link,
.main-wrapper .table.table-striped tbody tr td a:visited {
  color: #2e3641;
  font-weight: bold;
  /*text-decoration: underline;*/
}
.main-wrapper .table.table-striped tbody tr:nth-child(odd) td {
  background-color: #eff3f9;
}
.main-wrapper .table.table-striped tbody tr:hover td {
  background-color: #f5f5f5;
}
.main-wrapper .image-preview {
  margin-bottom: 20px;
}
.main-wrapper .image-preview label {
  display: block;
}
.main-wrapper .upload-img-wrapper .upload-img {
  background: url('../images/btn-upload.png') no-repeat;
  border: none;
  height: 39px !important;
  margin-right: -10px;
  overflow: hidden !important;
  width: 136px !important;
}
.main-wrapper .upload-img-wrapper .upload-img:hover {
  background: url('../images/btn-upload-hover.png') no-repeat;
}
.main-wrapper .upload-img-wrapper .upload-img .custom-file-input {
  cursor: pointer;
  height: 39px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  width: 136px !important;
}
.main-wrapper ul.comments-wrapper {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.main-wrapper ul.comments-wrapper .comment-list-item {
  background: #fff;
  border: 1px solid #eaedf2;
  margin-bottom: 10px;
  padding: 20px;
  position: relative;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .user-picture {
  display: table-cell;
  vertical-align: top;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .user-picture .user-picture-inner {
  border: 1px solid #c3c3c3;
  height: 70px;
  margin-right: 20px;
  text-align: center;
  width: 70px;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content {
  display: table-cell;
  min-height: 70px;
  vertical-align: top;
  width: 100%;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content .comment-display-name-wrapper {
  font-family: 'Bree Serif', serif;
  margin-bottom: 15px;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content .comment-display-name-wrapper .comment-display-name {
  font-weight: bold;
  margin-right: 10px;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content .comment-display-name-wrapper .comment-post-date {
  color: #a8bd44;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content .comment-display-name-wrapper .comment-post-date .glyphicon-time {
  color: #222222;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content .btn-action {
  margin-top: 10px;
  text-align: right;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-controle-reply {
  background: #f5f5f5;
  border: 1px solid #cccccc;
  float: left;
  margin-left: 90px;
  margin-top: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-controle-reply:hover {
  color: #4196fe;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper {
  position: absolute;
  z-index: 999;
  right: 10px;
  top: 0;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 9;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon .fw-icons {
  font-size: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon .glyphicon-chevron-down {
  display: inline-block;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon .glyphicon-chevron-up {
  display: none;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon.comment-controle-icon-active .glyphicon-chevron-down {
  display: none;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon.comment-controle-icon-active .glyphicon-chevron-up {
  display: inline-block;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper ul.comment-controles {
  background: #f5f5f5;
  display: none;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 20px;
  -webkit-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.175);
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper ul.comment-controles li.comment-controle .comment-controle-inner {
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: normal;
  min-width: 100px;
  margin: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper ul.comment-controles li.comment-controle .comment-controle-inner .fw-icons {
  float: right;
}
.main-wrapper ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper ul.comment-controles li.comment-controle .comment-controle-inner:hover {
  color: #4196fe;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper {
  margin: 0 0 0 90px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item {
  background: none;
  border: none;
  padding: 0;
  border-top: 1px solid #cccccc;
  padding-top: 10px;
  margin-top: 10px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper .comment-controle-icon {
  right: -10px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item .comment-group .comment-controles-wrapper ul.comment-controles {
  right: -20px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .user-picture .user-picture-inner {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content {
  margin-left: 60px;
  min-height: 50px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-display-content .comment-display-name-wrapper {
  margin-bottom: 5px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item .comment-group .comment-display-wrapper .comment-controle-reply {
  margin-left: 60px;
}
.main-wrapper ul.comments-wrapper .comment-list-item ul.comments-wrapper .comment-list-item ul.comments-wrapper {
  margin: 0 0 0 60px;
}
.main-wrapper .comment-post-wrapper {
  background: #fff;
  border: 1px solid #eaedf2;
  margin-bottom: 10px;
  padding: 20px;
}
.main-wrapper .comment-post-wrapper .comment-post .textare-comment {
  background: #f9f9f9;
}
.main-wrapper .comment-post-wrapper .comment-action-arapper {
  margin-top: 20px;
  text-align: right;
}
/* ==========================================
Sidebar */
.sidebar {
  background: #2e3641;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
}
.sidebar.menu-wrapper {
  position: fixed;
  width: 250px;
  z-index: 99999999;
}
.sidebar.menu-wrapper .fw-btn-menu {
  cursor: pointer;
  border-bottom: 1px solid #444;
}
.sidebar.menu-wrapper .fw-btn-menu .fw-btn-menu-inner {
  padding: 10px 20px;
  border-bottom: 1px solid #000;
}
.sidebar.menu-wrapper .fw-btn-menu .fw-icons {
  color: white;
  margin-top: 3px;
  float: right;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar.menu-wrapper .fw-btn-menu:hover {
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar.menu-wrapper .fw-btn-menu:hover .fw-icons {
  color: #4196fe;
}
.sidebar.menu-wrapper .enlarge {
  color: #eaedf2;
  display: inline-block;
  font-size: 18px;
  max-width: 170px;
  float: left;
}
.sidebar.menu-wrapper [class*="fw-icon-"],
.sidebar.menu-wrapper [class^="fw-icon-"] {
  float: right;
  margin-top: 2px;
}
.sidebar.menu-wrapper ul.menu {
  margin: 0;
  padding: 0;
}
.sidebar.menu-wrapper ul.menu > li.leaf {
  border-bottom: 1px solid #444;
  padding: 0;
}
.sidebar.menu-wrapper ul.menu > li.leaf .item-wrapper {
  border-bottom: 1px solid #000;
  cursor: pointer;
  padding: 10px 20px;
}
.sidebar.menu-wrapper ul.menu > li.leaf .item-wrapper .fw-icons {
  color: white;
  margin-top: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  float: right;
}
.sidebar.menu-wrapper ul.menu > li.leaf:hover {
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar.menu-wrapper ul.menu > li.leaf:hover .item-wrapper .fw-icons {
  color: #4196fe;
}
.sidebar.menu-wrapper ul.menu > li.leaf.sub-menu .item-wrapper .fw-icons-left {
  font-size: 12px;
  margin: 5px 5px 0 0;
  float: left;
}
.sidebar.menu-wrapper ul.menu > li.leaf.sub-menu ul.sub-menu-wrapper {
  background: #3a4450;
  display: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
}
.sidebar.menu-wrapper ul.menu > li.leaf.sub-menu ul.sub-menu-wrapper li {
  border-bottom: 1px solid #555;
}
.sidebar.menu-wrapper ul.menu > li.leaf.sub-menu ul.sub-menu-wrapper li a:link,
.sidebar.menu-wrapper ul.menu > li.leaf.sub-menu ul.sub-menu-wrapper li a:visited {
  color: #eaedf2;
  display: block;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 20px 10px 40px;
  text-decoration: none;
}
.sidebar.menu-wrapper ul.menu > li.leaf.sub-menu ul.sub-menu-wrapper li.last {
  border-bottom: none;
}
.sidebar.menu-wrapper.menu-wrapper-normal {
  margin-left: -190px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf.sub-menu ul.sub-menu-wrapper {
  padding: 0;
  display: none !important;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu {
  position: relative;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper {
  background: #9eb2c0;
  display: block !important;
  position: absolute;
  right: -132px;
  top: -1px;
  z-index: 999;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li a:link,
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li a:visited {
  color: #ffffff;
  padding: 10px 20px;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li a:link:hover,
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li a:visited:hover,
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li a:link.active,
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li a:visited.active {
  color: #2e3641;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper li.last {
  border-bottom: none;
}
.sidebar.menu-wrapper.menu-wrapper-normal .menu-inner ul.menu li.leaf:hover.sub-menu ul.sub-menu-wrapper:before {
  border-right: 10px solid #9eb2c0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
  position: absolute;
  top: 12px;
  left: -11px;
  z-index: 1;
}
.sidebar.menu-wrapper.menu-wrapper-active {
  margin-left: 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* ==========================================
Footer */
/* ==========================================
Media Query */
