<li class="comment-list-item" ng-show ="!deleted[comment.cid]">
	<div class="comment-group clearfix">
		<div class="comment-controles-wrapper pull-right">
			<div class="comment-controle-icon comment-controle-icon-normal"><span class="fw-icon-arrow"></span></div>
			<ul class="comment-controles clearfix">
				<li class="comment-controle first">
					<div class="comment-controle-inner comment-controle-edit" ng-click="editComment[comment.cid] = false" ng-show="editComment[comment.cid]">Edit <span class="fw-icon-edit"></span></div>
				</li>
				<li class="comment-controle last">
					<div class="comment-controle-inner comment-controle-delete" ng-click="delete_comment(comment)">Delete <span class="fw-icon-delete"></span></div>
				</li>
			</ul>
		</div>
		
		<div class="comment-display-wrapper clearfix">
			<div class="pull-left user-picture">Image</div>
			<div class="comment-display-content">
				<div class="comment-display-name">Name</div>
				<div ng-show="editComment[comment.cid]">{{comment.comment}}</div>
				<div ng-hide="editComment[comment.cid]">
					<textarea class="form-control" rows="6" ng-model="comment.comment"></textarea>
					<button class="btn btn-primary btn-md" ng-click="post_comment(comment, 'Edit')">Save</button>
				</div>
				<div ng-hide="hideReply[comment.cid]">
					<textarea class="form-control" rows="6" ng-model="comment_message"></textarea>
					<button class="btn btn-primary btn-md" ng-click="post_comment(comment)">Post</button>
				</div>
			</div>
			<div class="comment-controle-reply btn btn-xs" ng-click="hideReply[comment.cid] = false" ng-show="hideReply[comment.cid]"><span class="fw-icon-reply"></span> Reply</div>
		</div>


		
	</div>
</li>