<li class="comment-list-item" ng-show ="!deleted[comment.cid]">
	<div class="comment-parent clearfix">
		<div ng-show="editComment[comment.cid]">{{comment.comment}}</div>
		<ul class="comment-controles clearfix">
			<li class="comment-controle first">
				<div ng-click="editComment[comment.cid] = false" ng-show="editComment[comment.cid]">Edit</div>
				<div ng-hide="editComment[comment.cid]">
					<textarea class="form-control" rows="6" ng-model="comment.comment"></textarea>
					<button class="btn btn-primary btn-md" ng-click="post_comment(comment, 'Edit')">Save</button>
				</div>
			</li>
			<li class="comment-controle">
				<div ng-click="hideReply[comment.cid] = false" ng-show="hideReply[comment.cid]">Reply</div>
				<div ng-hide="hideReply[comment.cid]">
					<textarea class="form-control" rows="6" ng-model="comment_message"></textarea>
					<button class="btn btn-primary btn-md" ng-click="post_comment(comment)">Post</button>
				</div>
			</li>
			<li class="comment-controle last">
				<div ng-click="delete_comment(comment)">Delete</div>
			</li>
		</ul>
	</div>

</li>